.App {
  text-align: center;
}

.card::selection {
  background-color: transparent;
}
.card::-moz-selection {
  background-color: transparent;
}
.card {
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}



.box {
  border: black;
  border-width: 4px;
  border-style: solid;
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

}

.bump {
  padding-top: -8px;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

}

.x {
  fill: #aa0000
}

.check {
  fill: #00aa00
}